<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wr.mapper.SysUserMapper">

    <select id="findUserByUsername" resultType="com.wr.domain.LoginPojo.SysUserBo">
        select su.user_id,
               su.user_name,
               su.password,
               su.status,
               case when ur.role_id = 1 then true else false end 'admin'
        from sys_user su
                 left join sys_user_role ur on su.user_id = ur.user_id
        where su.deleted = 0
          and su.user_name = #{username}
    </select>

    <select id="getUserList" resultType="com.wr.domain.SysUserPojo.SysUserVo">
        select su.user_id,
        su.user_name,
        su.status,
        case when ur.role_id = 1 then true else false end 'admin',
        ubi.nick_name,
        ubi.sex,
        ubi.register_type,
        ubi.mobile,
        ubi.mailbox,
        ubi.create_time,
        ubi.remark
        from sys_user su
        left join sys_user_role ur on su.user_id = ur.user_id
        left join user_basic_info ubi on su.user_id = ubi.user_id
        <where>
            su.deleted = 0
            <if test="userName != null and userName != ''">and su.user_name like concat("%",#{userName},"%")</if>
            <if test="nickName != null and nickName != ''">and su.nick_name like concat("%",#{nickName},"%")</if>
            <if test="mobile != null and mobile != ''">ubi.mobile like concat("%",#{mobile},"%")</if>
            <if test="mailbox != null and mailbox != ''">ubi.mailbox like concat("%",#{mailbox},"%")</if>
            <if test="status != null">and su.status = #{status}</if>
            <if test="params != null">
                <if test="params.startTime != null">AND date_format(ubi.create_time,'%y%m%d') &gt;=
                    date_format(#{params.startTime},'%y%m%d')
                </if>
                <if test="params.endTime != null">AND date_format(ubi.create_time,'%y%m%d') &lt;=
                    date_format(#{params.endTime},'%y%m%d')
                </if>
            </if>
        </where>
    </select>

    <select id="getUserInfo" resultType="com.wr.domain.SysUserPojo.SysUserVo">
        select su.user_id,
               su.user_name,
               su.status,
               case when ur.role_id = 1 then true else false end 'admin',
               ubi.nick_name,
               ubi.sex,
               ubi.register_type,
               ubi.mobile,
               ubi.mailbox,
               ubi.create_time,
               ubi.remark
        from sys_user su
                 left join sys_user_role ur on su.user_id = ur.user_id
                 left join user_basic_info ubi on su.user_id = ubi.user_id
        where su.user_id = #{userId}
    </select>

    <select id="selectAllocatedList" resultType="com.wr.domain.SysUserPojo.SysUserVo">
        select distinct su.user_id,
        su.user_name,
        su.status,
        case when ur.role_id = 1 then true else false end 'admin',
        ubi.nick_name,
        ubi.sex,
        ubi.register_type,
        ubi.mobile,
        ubi.mailbox,
        ubi.create_time,
        ubi.remark
        from sys_user su
        left join user_basic_info ubi on su.user_id = ubi.user_id
        left join sys_user_role ur on su.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        <where>
            su.deleted = 0 and r.role_id = #{roleId}
            <if test="userName != null and userName != ''">and su.user_name like concat("%",#{userName},"%")</if>
            <if test="mobile != null and mobile != ''">and ubi.mobile like
                concat("%",#{mobile},"%")
            </if>
            <if test="mailbox != null and mailbox != ''">and ubi.mailbox like
                concat("%",#{mailbox},"%")
            </if>
            <if test="status != null">and su.status = #{status}</if>
            <if test="params != null">
                <if test="params.startTime != null">AND date_format(ubi.create_time,'%y%m%d') &gt;=
                    date_format(#{params.startTime},'%y%m%d')
                </if>
                <if test="params.endTime != null">AND date_format(ubi.create_time,'%y%m%d') &lt;=
                    date_format(#{params.endTime},'%y%m%d')
                </if>
            </if>
        </where>
    </select>
    <select id="selectUnallocatedList" resultType="com.wr.domain.SysUserPojo.SysUserVo">
        select distinct su.user_id,
        su.user_name,
        su.status,
        case when ur.role_id = 1 then true else false end 'admin',
        ubi.nick_name,
        ubi.sex,
        ubi.register_type,
        ubi.mobile,
        ubi.mailbox,
        ubi.create_time,
        ubi.remark
        from sys_user su
        left join user_basic_info ubi on su.user_id = ubi.user_id
        left join sys_user_role ur on su.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        <where>
            su.deleted = 0 and (r.role_id != #{roleId} or r.role_id IS NULL)
            and su.user_id not in (select su.user_id from sys_user su inner join sys_user_role ur on su.user_id =
            ur.user_id and ur.role_id = #{roleId})
            <if test="userName != null and userName != ''">and su.user_name like concat("%",#{userName},"%")</if>
            <if test="mobile != null and mobile != ''">and ubi.mobile like
                concat("%",#{mobile},"%")
            </if>
            <if test="mailbox != null and mailbox != ''">and ubi.mailbox like
                concat("%",#{mailbox},"%")
            </if>
            <if test="status != null">and su.status = #{status}</if>
            <if test="params != null">
                <if test="params.startTime != null">AND date_format(ubi.create_time,'%y%m%d') &gt;=
                    date_format(#{params.startTime},'%y%m%d')
                </if>
                <if test="params.endTime != null">AND date_format(ubi.create_time,'%y%m%d') &lt;=
                    date_format(#{params.endTime},'%y%m%d')
                </if>
            </if>
        </where>
    </select>

    <select id="isAdmin" resultType="boolean">
        SELECT IFNULL(
                       (SELECT CASE WHEN role_id = 1 THEN 'true' ELSE 'false' END 'boo'
                        FROM `sys_user_role`
                        WHERE user_id = #{userId}),
                       'false'
                   )
    </select>
</mapper>
